$primaryColor: #6d0d0e;
$primaryColorFocus: #600d0e;
$primaryLightColor: #a13f34;
$primaryLightColorFocus: #b34135;
$primaryDarkColor: #400000;
$primaryDarkColorFocus: #320000;
$secondaryColor: #131313;
$secondaryLightColor: #393939;
$secondaryDarkColor: #000000;
$textColorOnColorBackground: #ffffff;
$textColor: #000000;

$redColor: #6d0d0e;
$whiteColor: #ffd368;
$pinkColor: #ff566c;

$gray: #6c757d;
$lightGray: #919ba3;


$headerFont: "Forum", serif;
$textFont: 'Open Sans', sans-serif;
